<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Cadastro de Produtos</title>
<meta name="author" content="Adriano Costa">
<link rel="stylesheet" href="css/style.css">
<script src="https://kit.fontawesome.com/006642858d.js"></script>
<link rel="stylesheet" href="/webjars/bootstrap/css/bootstrap.min.css">
<link
	href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;1,600&family=Ubuntu&family=Work+Sans&display=swap"
	rel="stylesheet">
</head>

<body>
<!-- CABEÇALHO -->

<header th:fragment="cabecalho">

   <nav class="navbar navbar-expand-lg navbar-dark" style="background-color: #4527A0;">
		
		<a class="navbar-brand" th:href="@{/index}"> <img src="/imagens/logo.png" width="250px" />
		</a>

		<button class="navbar-toggler" type="button" data-toggle="collapse "
			data-target="#navMobile">
			<span class="navbar-toggler-icon"></span>
		</button>

		<div id="navMobile"
			class="navbar-collapse collapse justify-content-end">
			 <a class="btn-nav nav-item nav-link ">Home</a>
			 <a class="btn-nav nav-item nav-link" th:href="@{inserirProduto}">Cadastrar Produto</a> 
			  <a class="btn-nav nav-item nav-link" th:href="@{inserirFornecedor}">Cadastrar Fornecedor</a>
			 <a data-toggle="modal" data-target="#modalPesquisar" class="bnt-nav nav-item nav-link">Pesquisar</a> 
			 <a class="btn-nav nav-item nav-link" th:href="@{logout}">Sair</a>

		</div>

	</nav>


</header>

<!-- RODAPE -->
<footer th:fragment="rodape">
	<div class="rodape">
		<span>Todos os Direitos Reservados - 2022 &copy; Adriano Costa</span>
	</div>
</footer>
<script src="/webjars/jquery/3.5.1/jquery.min.js"></script>
<script src="/webjars/bootstrap/js/bootstrap.min.js"></script>
</body>
</html>